{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('main.login') }}" style="display: flex; flex-direction: column;">
        {{ form.hidden_tag() }}  <!-- CSRF token field -->

        <label for="email" style="margin-bottom: 8px; font-weight: bold;">Email:</label>
        {{ form.email(size=32, class_="form-control") }}
        
        <label for="password" style="margin-bottom: 8px; font-weight: bold;">Password:</label>
        {{ form.password(class_="form-control") }}
        
        <button type="submit" style="background-color: #007bff; color: #fff;">Login</button>
    </form>
    <p style="margin-top: 15px; text-align: center;">Don't have an account? <a href="{{ url_for('main.signup') }}">Sign up here</a>.</p>
</div>
{% endblock %}



